# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Xcode
*.xcodeproj
*.build/
Debug
Release

# Other OS/IDE/editor artifacts
*.sublime*
.DS_Store
Thumbs.db
